   /* Add styles here */
   /* Add styels here */
   {font-family: verdana, Geneva, tahoma, sans-serif;}
    .tengah{display: flex;justify-content: center;}
    .card {
        width: 40%;
        box-shadow:0 4px 8px 0 blueviolet;
     transition : 0.3

    }
.card h1 {
    fount-size: 16px
    padding : 0px 5px
}
.cardbody{
    pading:2px 16px   
}

.cardfooter{
    padding: 8px;
    background-color: pink;
    display: flex;
    justify-content: right;
}
.card:hover{
    box-shadow: 0 8px 0;
}
label{
   fount: size 14px;
   fount-weight: bold;
}
input [type=text] {
    width:90%;
    padding: 10px 20px;
    margin: 8px 10pc;
}
.btn1{
    border:none;
    border-radius: 8px;
    background-color: #ced4da;
    color: lightseagreen;
    fount-size:16px;
    fount-weight:bold;
    padding: 8px 20px ;

}
 .hsl{
    fount-size :16px;
    margin :10px;
    height: 200px;
    border: salmon 1px;
    pading: 10px;
    background-color: blue;
 }

        
